/* Configuración global para que el footer se quede abajo */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #06192BFF;
    margin:0;
    padding:0;
}

main {
    flex: 1;
}

/* Hero Section (Imagen principal del index) */
.hero-section {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://images.unsplash.com/photo-1492684223066-81342ee5ff30?q=80&w=1200&auto=format&fit=crop');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
    margin-bottom: 40px;
    border-radius: 0 0 20px 20px;
}
.card-img-top{
    height: 200px;
    object-fit: cover
}

/* Ajustes de tarjetas */
.card-img-top {
    height: 200px;
    object-fit: cover;
}
.header1{
    display: flex;
    text-align: left;
    gap:15px;
    font-weight: bold;
    color: #f8f9fa;
}
.flecha{
    padding-top:8px;
    color:#f8f9fa;

    text-decoration: none;
}
.titulo{
    width:100%;
    text-align: center;
    color: #f8f9fa;
}
.card {
    transition: transform 0.2s;
    border: none;
}
.card:hover {
    transform: translateY(-5px);
}
.evento-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.producto {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 100%;
    color: white;
    padding: 20px 30px;           /* margen interno invisible */
    box-sizing: border-box;        /* asegura que padding no rompa el ancho */
}
.container2{
    width:100%;/* ancho máximo del contenido */
    margin: 0 auto;           /* centra horizontalmente */ /* margen interno invisible */
    box-sizing: border-box;
    display: flex;
    height: 100vh;             /* altura de toda la pantalla */
    background-color: #010123FF; /* fondo uniforme */
    padding: 250px;
    position: relative; /* necesario para que la imagen absoluta se posicione respecto a este contenedor */

}
.entrada-boton{
    padding-bottom:13px;
    color:#f8f9fa;

    text-decoration: none;
}
.producto-imagen{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin-bottom: 20px; /* espacio debajo de la imagen */
}
.precio-pago{
    display: flex;
    align-items: center;
    gap:50%;
}