/* Configuración global para que el footer se quede abajo */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f9fa;
}

main {
    flex: 1;
}
.container{



}
/* Hero Section (Imagen principal del index) */
.hero-section {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://images.unsplash.com/photo-1492684223066-81342ee5ff30?q=80&w=1200&auto=format&fit=crop');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
    margin-bottom: 40px;
    border-radius: 0 0 20px 20px;
}
.card-img-top{
    height: 200px;
    object-fit: cover
}

/* Ajustes de tarjetas */
.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card {
    transition: transform 0.2s;
    border: none;
}

.card:hover {
    transform: translateY(-5px);
}
.evento-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}
