/* Configuración global para que el footer se quede abajo */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f9fa;
}

main {
    flex: 1;
}
.container{



}
/* Hero Section (Imagen principal del index) */
.hero-section {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../images/DWEB.png');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
    margin-bottom: 40px;
    border-radius: 0 0 20px 20px;
}
.navbar-nav{
    justify-content: center;
}

/* Ajustes de tarjetas */
.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card {
    transition: transform 0.2s;
    border: none;
}

.card:hover {
    transform: translateY(-5px);
}